<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- App Icon -->
  <link rel="shortcut icon" type="image/jpg" href="/icons/icon-96x96.png" />
  <!-- Bulma CSS -->
  <link rel="stylesheet" type="text/css" href="/bulma/bulma.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <!-- Material Icons - Round -->
  <link rel="stylesheet" type="text/css" href="/icons/round.css">
  <!-- Title -->
  <title>
    <%= appNames.title %> | <%= appNames.version %>
  </title>
</head>